<body style="text-align:center;background-color:#f0f0f0;">

    <style type="text/css">

        table{font-family:Arial,Verdane,Helvetica,sans_serif;font-size:16px;color:#333;border:1px solid #666666;background-color:#ffffff;}
        td{padding:5px;}

    </style>

    <table border="0" background="#cccccc" width="750">

        <tr><td colspan="2" width="100" valign="top"><h2>Anfrage:</h2></td></tr>
        <tr><td width="140" valign="top">Thema:</td><td valign="top">{options.topic.name}</td></tr>
        <tr><td width="140" valign="top">Name:</td><td valign="top">{options.name}</td></tr>
        <tr><td width="140" valign="top">E-Mail Adresse:</td><td valign="top">{options.email}</td></tr>
        <tr><td width="140" valign="top">Nachricht:</td><td valign="top">{options.message}</td></tr>

    </table>
</body>