.row {
    width: 100%;
    *zoom: 1;
}

.row:before,
.row:after {
    content: "";
    display: table;
}

.row:after {
    clear: both;
}

.row [class*="grid_"] {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: block;
    float: left;
    margin-left: 2.127659574%;
    *margin-left: 2.0744680846382977%;
    width: 100%;
    -ms-box-sizing: border-box;
}

* html .row .grid_12 {
    display: block;
    float: left;
    margin-left: expression(this.previousSibling == null ? '0' : '2.127659574%' );
}

* html .row .grid_11 {
    display: block;
    float: left;
    margin-left: expression(this.previousSibling == null ? '0' : '2.127659574%' );
}

* html .row .grid_10 {
    display: block;
    float: left;
    margin-left: expression(this.previousSibling == null ? '0' : '2.127659574%' );
}

* html .row .grid_9 {
    display: block;
    float: left;
    margin-left: expression(this.previousSibling == null ? '0' : '2.127659574%' );
}

* html .row .grid_8 {
    display: block;
    float: left;
    margin-left: expression(this.previousSibling == null ? '0' : '2.127659574%' );
}

* html .row .grid_7 {
    display: block;
    float: left;
    margin-left: expression(this.previousSibling == null ? '0' : '2.127659574%' );
}

* html .row .grid_6 {
    display: block;
    float: left;
    margin-left: expression(this.previousSibling == null ? '0' : '2.127659574%' );
}

* html .row .grid_5 {
    display: block;
    float: left;
    margin-left: expression(this.previousSibling == null ? '0' : '2.127659574%' );
}

* html .row .grid_4 {
    display: block;
    float: left;
    margin-left: expression(this.previousSibling == null ? '0' : '2.127659574%' );
}

* html .row .grid_3 {
    display: block;
    float: left;
    margin-left: expression(this.previousSibling == null ? '0' : '2.127659574%' );
}

* html .row .grid_2 {
    display: block;
    float: left;
    margin-left: expression(this.previousSibling == null ? '0' : '2.127659574%' );
}

* html .row .grid_1 {
    display: block;
    float: left;
    margin-left: expression(this.previousSibling == null ? '0' : '2.127659574%' );
}

.row [class*="grid_"]:first-child {
    margin-left: 0;
}

.row .grid_12 {
    width: 99.99999998999999%;
    *width: 99.94680850063828%;
}

.row .grid_11 {
    width: 91.489361693%;
    *width: 91.4361702036383%;
}

.row .grid_10 {
    width: 82.97872339599999%;
    *width: 82.92553190663828%;
}

.row .grid_9 {
    width: 74.468085099%;
    *width: 74.4148936096383%;
}

.row .grid_8 {
    width: 65.95744680199999%;
    *width: 65.90425531263828%;
}

.row .grid_7 {
    width: 57.446808505%;
    *width: 57.3936170156383%;
}

.row .grid_6 {
    width: 48.93617020799999%;
    *width: 48.88297871863829%;
}

.row .grid_5 {
    width: 40.425531911%;
    *width: 40.3723404216383%;
}

.row .grid_4 {
    width: 31.914893614%;
    *width: 31.8617021246383%;
}

.row .grid_3 {
    width: 23.404255317%;
    *width: 23.3510638276383%;
}

.row .grid_2 {
    width: 14.89361702%;
    *width: 14.8404255306383%;
}

.row .grid_1 {
    width: 6.382978723%;
    *width: 6.329787233638298%;
}

#main .row .grid_3 {
    overflow: hidden;
}