{namespace bmfBudget=PPKOELN\BmfBudget\ViewHelpers}
<td class="col5 noSPP noSPL meta wide">
    <div class="wrapper">
        <h4>Erläuterungen und Vermerke</h4>
        <p>
            <f:if condition="{f:count(subject:entity.supplementaries)} > 0">
                <f:then>

                    siehe PDF-Dokument des zugehörigen Einzelplans:<br>

                    Seite {bmfBudget:property(object:entity, property:'{referrer.account}_page')} im

                    <a href="/fileadmin/de.bundeshaushalt/content_de/dokumente/{referrer.year}/{f:translate(key:'segment.account.{referrer.account}')}/epl{entity.section.section.address}.pdf#page={bmfBudget:property(object:entity, property:'{referrer.account}_page')}"
                       class="pdfSH"
                       target="_blank">Stammhaushalt</a>

                    <f:for each="{entity.supplementaries}" as="supplementary" iteration="supplementaryIterator">
                        <br>Seite {bmfBudget:property(object:supplementary, property:'{referrer.account}_page')} im
                        <a href="/fileadmin/de.bundeshaushalt/content_de/dokumente/{referrer.year}/{f:translate(key:'segment.account.{referrer.account}')}/n{supplementary.supplementarybudget.title -> f:format.crop(maxCharacters: 1, append:'')}_epl{entity.section.section.address}.pdf#page={bmfBudget:property(object:supplementary, property:'{referrer.account}_page')}"
                           class="pdfNH{supplementary.supplementarybudget.title -> f:format.crop(maxCharacters: 1, append:'')}"
                           target="_blank">{supplementary.supplementarybudget.title -> f:format.crop(maxCharacters: 1, append:'')}. Nachtragshaushalt</a>
                    </f:for>

                </f:then>
                <f:else>
                    siehe Seite {bmfBudget:property(object:entity, property:'{referrer.account}_page')} im <a href="/fileadmin/de.bundeshaushalt/content_de/dokumente/{referrer.year}/{f:translate(key:'segment.account.{referrer.account}')}/epl{entity.section.section.address}.pdf#page={bmfBudget:property(object:entity, property:'{referrer.account}_page')}" class="pdf" target="_blank">PDF-Dokument</a> des zugehörigen Einzelplans
                </f:else>
            </f:if>
        </p>
    </div>
</td>
<td class="col6 noSPP noSPL meta hidden">
    <div class="wrapper">
        <h4>Anmerkungen</h4>
    </div>
</td>