<!-- logo -->
                <div id="logo" class="grid_3">
                    <f:if condition="{pidLogo}">
                        <f:then><f:link.page pageUid="{pidLogo}"><img src="typo3conf/ext/bmf_page_bundeshaushalt_info/Resources/Public/Images/bmf-branding.png" width="160" height="80" alt="Logo Bundesministerium der Finanzen (Link zur Startseite)" /></f:link.page></f:then>
                        <f:else><img src="typo3conf/ext/bmf_page_bundeshaushalt_info/Resources/Public/Images/bmf-branding.png" width="160" height="80" alt="Bundesministerium der Finanzen" /></f:else>
                    </f:if>
                </div>