<!-- SocialMedia Bar -->
<div id="socialbar">
    <ul>
        <li><a href="https://twitter.com/home?status=<f:uri.page absolute='1'/>" class="twitter" title="Seite auf Twitter teilen"><span class="sr-hint">Twitter</span></a></li>
        <li><a href="https://plus.google.com/share?url=<f:uri.page absolute='1'/>" class="google" title="Seite auf Google+ teilen"><span class="sr-hint">Google +</span></a></li>
        <li><a href="https://www.facebook.com/sharer/sharer.php?u=<f:uri.page absolute='1'/>" class="facebook" title="Seite auf Facebook teilen"><span class="sr-hint">Facebook</span></a></li>
        <li><a href="mailto:Bitte%20Empfaenger%20eintragen?subject=Seitenempfehlung%20aus%20dem%20www.bundeshaushalt.de&body=Folgender%20Link%20zum%20Bundeshaushalt%20des%20Bundesministeriums%20der%20Finanzen%20wurde%20Ihnen%20empfohlen.%0D%0A%0D%0ADen%20vollstaendigen%20Inhalt%20finden%20Sie%20unter%20der%20URL:%0D%0A%0D%0A<f:uri.page absolute='1'/>%0D%0A%0D%0AHinweis:%20Das%20BMF%20als%20Betreiber%20dieser%20Webseite%20uebernimmt%20keine%20Verantwortung%20fuer%20den%20Inhalt%20dieser%20Mitteilung.%20Die%20Korrektheit%20des%20angegebenen%20Namens%20und/oder%20der%20angegebenen%20E-Mail%20Adresse%20des%20Absenders%20kann%20nicht%20garantiert%20werden." class="email" title="Öffnet E-Mail Programm"><span class="sr-hint">E-Mail</span></a></li>
    </ul>
</div>



