<f:layout name="Default" />

This template displays a EDIT form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
Edit.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

inhaltPeter ist: {inhaltPeter} <br>
result ist: {result}


<f:section name="main">
    <div class="thanks">
        <h2>Vielen Dank</h2>
        <p>
            Ihre Nachricht wurde übermittelt.
        </p>
    </div>
</f:section>