<f:layout name="WebsiteContainer" />
<f:section name="content">
    <div class="row">
        <div class="grid_12">
            {main -> f:format.raw()}
        </div>
    </div>

    <div class="row">
        <div class="grid_3">
            {col1 -> f:format.raw()}
        </div>
        <div class="grid_3">
            {col2 -> f:format.raw()}
        </div>
        <div class="grid_3">
            {col3 -> f:format.raw()}
        </div>
        <div class="grid_3">
            {col4 -> f:format.raw()}
        </div>
    </div>

    <div class="row">
        <div class="grid_12">
            {col5 -> f:format.raw()}
        </div>
    </div>

    <div class="row">
        <div class="grid_6">
            {col6 -> f:format.raw()}
        </div>
        <div class="grid_6">
            {col7 -> f:format.raw()}
        </div>
    </div>
</f:section>
