{namespace bmfBudget=PPKOELN\BmfBudget\ViewHelpers}
<!-- application breadcrumb #################################################################### -->
<div id="data-breadcrumb" class="clearfix"{f:if(condition:'{budgets}', else:' style="display: none;"')}>

        <h2 class="sr-hint">{f:translate(key: 'breadcrumb.youAreHere')}:</h2>
        <ul class="breadcrumb">
            <li class="home"><a href="/" title="{f:translate(key: 'breadcrumb.toHomePage')}">{f:translate(key: 'nav.homepage')}</a></li>
            <li class="year">
                <strong><f:link.action action="show"
                                       arguments="{year:referrer.year,
                                                   account:'{f:translate(key:\'segment.account.{referrer.account}\')}',
                                                   flow:'{f:translate(key:\'segment.flow.{referrer.flow}\')}',
                                                   structure:'{f:translate(key:\'segment.structure.{referrer.structure}\')}',
                                                   address:referrer.address}">
                    {referrer.year}
                </f:link.action></strong>
                <ul>
                    <f:for each="{budgets}" as="budget">
                        <f:if condition="{referrer.year}!={budget.year}">
                            <f:then>
                                <li>
                                    <f:if condition="{bmfBudget:property(object:budget, property:'{referrer.structure}_{referrer.account}_{referrer.flow}')}">
                                        <f:then>
                                            <f:link.action action="show"
                                                           arguments="{year:budget.year,
                                                                       account:'{f:translate(key:\'segment.account.{referrer.account}\')}',
                                                                       flow:'{f:translate(key:\'segment.flow.{referrer.flow}\')}',
                                                                       structure:'{f:translate(key:\'segment.structure.{referrer.structure}\')}',
                                                                       address:referrer.address}">
                                                {budget.year}
                                            </f:link.action>
                                        </f:then>
                                        <f:else>
                                            <span class="disabled">{budget.year}</span>
                                        </f:else>
                                    </f:if>
                                </li>
                            </f:then>
                        </f:if>
                    </f:for>
                </ul>
            </li>

            <li class="account">
                <strong><f:link.action action="show"
                                       arguments="{year:referrer.year,
                                                   account:'{f:translate(key:\'segment.account.{referrer.account}\')}',
                                                   flow:'{f:translate(key:\'segment.flow.{referrer.flow}\')}',
                                                   structure:'{f:translate(key:\'segment.structure.{referrer.structure}\')}',
                                                   address:referrer.address}">
                    {f:translate(key:'account.{referrer.account}')}
                </f:link.action></strong>
                <ul>
                    <f:for each="{0:'target', 1:'actual'}" as="account">
                        <f:if condition="{referrer.account}!={account}">
                            <f:then>
                                <li>
                                    <f:if condition="{0:detail.type}=={0:'Root'}">
                                        <f:then>
                                            <f:if condition="{bmfBudget:property(object:detail.entity, property:'{referrer.structure}_{account}_{referrer.flow}')}">
                                                <f:then>
                                                    <f:link.action action="show"
                                                                   arguments="{year:referrer.year,
                                                                               account:'{f:translate(key:\'segment.account.{account}\')}',
                                                                               flow:'{f:translate(key:\'segment.flow.{referrer.flow}\')}',
                                                                               structure:'{f:translate(key:\'segment.structure.{referrer.structure}\')}',
                                                                               address:referrer.address}">
                                                        {f:translate(key:'account.{account}')}
                                                    </f:link.action>
                                                </f:then>
                                                <f:else>
                                                    <span class="disable">{f:translate(key:'account.{account}')}</span>
                                                </f:else>
                                            </f:if>
                                        </f:then>
                                        <f:else>
                                            <f:if condition="{bmfBudget:property(object:detail.entity, property:'{account}_{referrer.flow}')} != ''">
                                                <f:then>
                                                    <f:link.action action="show"
                                                                   arguments="{year:referrer.year,
                                                                               account:'{f:translate(key:\'segment.account.{account}\')}',
                                                                               flow:'{f:translate(key:\'segment.flow.{referrer.flow}\')}',
                                                                               structure:'{f:translate(key:\'segment.structure.{referrer.structure}\')}',
                                                                               address:referrer.address}">
                                                        {f:translate(key:'account.{account}')}
                                                    </f:link.action>
                                                </f:then>
                                                <f:else>
                                                    <span class="disable">{f:translate(key:'account.{account}')}</span>
                                                </f:else>
                                            </f:if>
                                        </f:else>
                                    </f:if>

                                </li>
                            </f:then>
                        </f:if>
                    </f:for>
                </ul>
            </li>

            <li class="flow">
                <strong><f:link.action action="show"
                                   arguments="{year:referrer.year,
                                               account:'{f:translate(key:\'segment.account.{referrer.account}\')}',
                                               flow:'{f:translate(key:\'segment.flow.{referrer.flow}\')}',
                                               structure:'{f:translate(key:\'segment.structure.{referrer.structure}\')}'}">
                    {f:translate(key:'flow.{referrer.flow}')}
                </f:link.action></strong>
                <ul>
                    <f:if condition="{referrer}">
                        <f:then>
                            <f:for each="{0:'income', 1:'expenses'}" as="flow">
                                <f:if condition="{referrer.flow}!={flow}">
                                    <f:then>
                                        <li><f:link.action action="show"
                                                           arguments="{year:referrer.year,
                                                               account:'{f:translate(key:\'segment.account.{referrer.account}\')}',
                                                               flow:'{f:translate(key:\'segment.flow.{flow}\')}',
                                                               structure:'{f:translate(key:\'segment.structure.{referrer.structure}\')}'}">
                                            {f:translate(key:'flow.{flow}')}
                                        </f:link.action></li>
                                    </f:then>
                                </f:if>
                            </f:for>
                        </f:then>
                        <f:else>
                            <li><a href="#">{f:translate(key:'flow.income')}</a></li>
                            <li><a href="#">{f:translate(key:'flow.expenses')}</a></li>
                        </f:else>
                    </f:if>
                </ul>
            </li>

            <li class="structure">
                <strong><f:link.action action="show"
                                       arguments="{year:referrer.year,
                                                   account:'{f:translate(key:\'segment.account.{referrer.account}\')}',
                                                   flow:'{f:translate(key:\'segment.flow.{referrer.flow}\')}',
                                                   structure:'{f:translate(key:\'segment.structure.{referrer.structure}\')}'}">
                    {f:translate(key:'structure.{referrer.structure}')}
                </f:link.action></strong>
                <ul>
                    <f:if condition="{referrer}">
                        <f:then>
                            <f:for each="{0:'section', 1:'function', 2:'group'}" as="structure">
                                <f:if condition="{referrer.structure}!={structure}">
                                    <f:then>
                                        <li><f:link.action action="show"
                                                           arguments="{year:referrer.year,
                                                               account:'{f:translate(key:\'segment.account.{referrer.account}\')}',
                                                               flow:'{f:translate(key:\'segment.flow.{referrer.flow}\')}',
                                                               structure:'{f:translate(key:\'segment.structure.{structure}\')}'}">
                                            {f:translate(key:'structure.{structure}')}
                                        </f:link.action></li>
                                    </f:then>
                                </f:if>
                            </f:for>
                        </f:then>
                        <f:else>
                            <li><a href="#">{f:translate(key:'structure.section')}</a></li>
                            <li><a href="#">{f:translate(key:'structure.function')}</a></li>
                            <li><a href="#">{f:translate(key:'structure.group')}</a></li>
                        </f:else>
                    </f:if>
                </ul>
            </li>

            <f:if condition="{childs}">
                <f:for each="{childs}" as="child" iteration="childIterator">
                    <f:if condition="{childIterator.index}==1">
                        <f:then><ul class="stay"></li></f:then>
                        <f:else></li></f:else>
                    </f:if>
                    <li class="level{childIterator.cycle}"><f:link.action action="show"
                                                                          arguments="{year:referrer.year,
                                                                                      account:'{f:translate(key:\'segment.account.{referrer.account}\')}',
                                                                                      flow:'{f:translate(key:\'segment.flow.{referrer.flow}\')}',
                                                                                      structure:'{f:translate(key:\'segment.structure.{referrer.structure}\')}',
                                                                                      address:child.address}">
                                        {child.title}
                                    </f:link.action>
                    <f:if condition="{childIterator.index}>0">
                        <f:if condition="{childIterator.isLast}"></ul></f:if>
                    </f:if>

                </f:for>
            </f:if>

        </ul>

</div>
<!-- end application breadcrumb ################################################################ -->
