<f:layout name="Default"/>

<f:section name="content">

    <h1><f:translate key="module.header"/></h1>

    <h2>
        <f:link.action controller="Budget\Create" action="index">
            <f:translate key="budget.create.header"/>
        </f:link.action>
    </h2>
    <p><f:translate key="budget.create.description"/></p>

    <h2>
        <f:link.action controller="Budget\Import" action="index">
            <f:translate key="budget.import.header"/>
        </f:link.action>
    </h2>
    <p><f:translate key="budget.import.description"/></p>

    <hr/>

    <h2>
        <f:link.action controller="Budget\Update" action="index">
            <f:translate key="budget.update.header"/>
        </f:link.action>
    </h2>
    <p><f:translate key="budget.update.description"/></p>

    <hr/>

    <h2>
        <f:link.action controller="Supplementary\Create" action="index">
            <f:translate key="supplementary.create.header"/>
        </f:link.action>
    </h2>
    <p><f:translate key="supplementary.create.description"/></p>

    <h2>
        <f:link.action controller="Supplementary\Import" action="index">
            <f:translate key="supplementary.import.header"/>
        </f:link.action>
    </h2>
    <p><f:translate key="supplementary.import.description"/></p>

    <hr/>

    <h2>
        <f:link.action controller="Label\Update" action="index">
            <f:translate key="label.update.header"/>
        </f:link.action>
    </h2>
    <p><f:translate key="label.update.description"/></p>

</f:section>
